   	  <div class="top">
       	<h3>Featured events</h3>
        <div class="image"><img src="images/kiss.png" width="210" height="149" /> </div>
        <div class="text">
            <h1>Kiss</h1>
            <h2>Description</h2>
            <p>Rock legends KISS are set to bring their new Sonic Boom Over Europe: From the Beginning To the Boom tour to Europe in Summer 2010.With multiple dates across Europe, the “Sonic Boom Over Europe: From The Beginning To The Boom is set to be THE rock event of 2010, building on the incredible success of the 2009 “Sonic Boom” album.Sonic Boom Over Europe.</p>
            <a href="#">More details</a>
        </div>
        <div class="clear"></div>
      </div>
     <div class="bottom">

        <div class="image"><img src="images/avatar.png" width="210" height="149" /></div>
       <div class="text">
            <h1>Avatar</h1>
         <h2>Description</h2>
           <p>When his brother is killed in a robbery, paraplegic Marine Jake Sully decides to take his place in a mission on the distant world of Pandora. There he learns of greedy corporate figurehead Parker Selfridge's intentions of driving off the native humanoid &quot;Na'vi&quot; in order to mine for the precious material scattered throughout their rich woodland. ></p>
           <a href="#">More details</a>
        </div>
        <div class="clear"></div>

     </div>    