<h1>New business</h1>

<% form_for(@business) do |f| %>
  <%= f.error_messages %>

<%= render :partial => "newform", :object => f %>
    <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', businesses_path %>