<div class="heading">
  <h3>Retrieve password</h3>
</div>
<div class="subContent">

<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>

  <p>
    Please enter the e-mail address you registered with and instructions to reset your password will be emailed to you:<br />
  </p>

<% form_tag password_resets_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email", nil, :class => "inputBox" %><br />
  <br />
  <%= submit_tag "Reset", :class => :register %>
<% end %>
</div>
<div class="end"></div>