@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background:url(../images/back.png);
	background-repeat:repeat-x;
	background-position:top;
	background-color: #474747;
	font-family: "Arial", "Verdana", sans-serif;
	font-size:11px;
	color:#fff;
	text-align:center; 
	

}
div.hr {
  height: 2px;
  width:600px;
  background: #fff url(../images/hr.png) repeat-x scroll center;
}
div.hr hr {
  display: none;
}
.main{ 
	width:900px; 
	text-align:left; 
	margin:0 auto; 
	background:url(../images/mainBack.png);
	
	}

p{
	padding-right:30px;
}


h1{
	
	font-size:14px;
}

h2{
	
	font-size:12px;
}

h3{
	
	font-size:16px; 
	padding:5px 0px 0px 0px;
}

.loginText{
	color:#789198;
	size:12px;
	font-weight:bold;
}

a{
	color:#ec9b0c;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a:hover{
	color:#e5b45c;
	
}



.inputBox{
	width:187px;
	height:21px;
	background:url(../images/inputBox.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	
	
}

.date{
	width:61px;
	height:21px;
	background:url(../images/date.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	margin-left:10px;
	scrollbar-arrow-color: #12406F;
}

.start{
	width:35px;
background:url(../images/start.png) no-repeat center;
border:none;

font-family: Verdana;
font-style: normal;
font-size: 12px;
color: #FFFFFF;

height:21px;
margin-top:5px;
margin-top:5px;
}

select{
width:187px;
background-image: none;
font-family: Verdana;
font-style: normal;
font-size: 12px;
color: #FFFFFF;
border-color:#354b51;
border-style: solid;
border-width: 1px;
background-color: #789198;
height:21px;
margin-top:5px;
margin-top:5px;

} 

.button{
	background-image:url(../images/button.png);
	background-position:center;
	width:54px;
	height:22px;
	border:none;
	margin-left:130px;
	margin-top:10px;
	font-family:"Franklin Gothic Medium";
	font-size:14px;
	color:#fff;
	cursor:hand;
}

.search{
	background-image:url(../images/button.png);
	background-position:center;
	width:54px;
	height:22px;
	border:none;
	margin-top:10px;
	font-family: "Arial", "Verdana", sans-serif;
	font-size:12px;
	color:#fff;
	cursor:hand;
}

.go{
	background-image:url(../images/button.png);
	border:none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	cursor:hand;
}

.submit{
	background-image:url(../images/button.png);
	background-position:center;
	width:54px;
	height:22px;
	border:none;
	
}

label{
	color:#fff;
	font-size:12px;
	font-weight:bold;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:5px;

}

.clear{clear:both;}


.header{
	background:url(../images/logo.png);
	width:900px;
	height:82px;
}

.menu{
	float:left;
	margin: -2px ;
	display:inline;
	width:900px;
}

.main-menu ul{
	
	text-decoration:none;
	margin: 0px 0 0;
	float:right;
	width:900px;
	
	
}
.main-menu li{
	list-style:none;
	background-image:url(../images/menuDevider.png);
	background-repeat:repeat-y;
	height:20px;
	padding: 0px 10px 0 10px;
	float: left;
	text-align:left;
	
	

}
.main-menu .first{
	background:none;
	padding-left:0;
	border:none;
	
}

.main-menu li a{
	color:#fff;
	font-family:"Franklin Gothic Medium";
	font-size:18px;
	text-decoration:none;
}

.main-menu li a:hover{
	color:#ec9b0c;
	text-decoration:underline;
}

.active{
	color:#e5b45c;
	font-family:"Franklin Gothic Medium";
	font-size:18px;
	
}

.subNavigation {
	
	text-decoration:none;
	margin: 0px;
	padding:0px;
	width:198px;
	
}

.subNavigation li{
	list-style:none;
	font-size:14px;
	font-family: "Arial", "Verdana", sans-serif;
	color:#fff;
	font-weight:bold;

}

.subNavigation li a{
	colour:#ec9b0c;
	text-decoration:none;
}

.subNavigation li a:hover{
	color:#e5b45c;
	font-size:12px;
	
}

.subActive{
	color:#e5b45c;
}


.leftColumn{
	width:213px;
	float:left;
	padding-left:20px;
}

.loginBoxHeader{
	background:url(../images/loginHeader.png);
	background-repeat:no-repeat;
	width:198px;
	height:32px;
	padding-left:15px;
}

.loginContent{
	background:url(../images/loginContent.png);
	background-repeat:repeat-y;
	background-position:center;
	width:198px;
	padding-top:10px;
	padding-left:15px;
}

.loginEnd{
	background:url(../images/loginEnd.png);
	background-repeat:no-repeat;
	width:198px;
	height:9px;
	padding-left:15px;
}

.searchBox{
	background:url(../images/backBox.png);
	background-repeat:no-repeat;
	width:198px;
	height: 253px;
	padding-left:15px;
}

.content{
	width:652px;
	float:right;
	
	
}
.top{
	background:url(../images/backCentreSmall.png);
	width:643px;	
	height:236px;
	background-repeat:no-repeat;
	padding-left:15px;
	text-align:left;
}

.image{
	float:left;
	width:210px;
	padding-top:12px;
}

.text{
	float:right;
	width:418px;
}

.bottom{
	background:url(../images/backCentreSmall.png);
	width:643px;	
	height:236px;
	background-repeat:no-repeat;
	padding-left:15px;
	padding-top:45px;
	text-align:left;
	margin-top:13px;
}
	
.footer{
	float:left;
	display:inline;
	width:900px;
	
}
	
.bottom-menu ul{
	
	text-decoration:none;
	margin: 0px 0 0;
	float:right;
	width:900px;
	
	
}
.bottom-menu li{
	list-style:none;
	height:20px;
	padding: 0px 10px 0 10px;
	float: right;
	text-align:left;
	
	

}

.bottom-menu li a{
	color:#fff;
	font-family:"Franklin Gothic Medium";
	font-size:12px;
	text-decoration:none;
}

.heading{
	width:634px;
	height:32px;
	background:url(../images/header.png);
	background-repeat:no-repeat;
	padding-left:15px;
}

.subContent{
	background-color:#455c63;
	padding-left:15px;
	padding-top:15px;
	width:619px;
	font-family: "Arial", "Verdana", sans-serif;
	font-size:11px;
	color:#fff;

}

.end{
	width:634px;
	height:9px;
	background:url(../images/end.png);
	background-repeat:no-repeat;
}

.description{
	float:right;
	width:398px;
	padding-left:10px;
}


table
{
	width:98%;
	margin:5px auto 5px auto;
	text-align:left;
	float:left;
	font-family: "Arial", "Verdana", sans-serif;
	font-size:11px;
	color:#fff;
	
 

}

th{
	background:#1b282c;
		padding:4px 5px 4px 5px;
		color:white;
		font-size:12px;
		text-align:center;
	
}


td{
	padding:4px 5px 4px 5px;
	border-bottom:1px solid #98abb1;
	vertical-align:top;
}
 
.first{
	background:#3f575e;
}

.second{
	background:#32484e;
}

.oldPassw{
	width:187px;
	height:21px;
	background:url(../images/inputBox.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	padding-left:62px;
}

.newPassw{
	width:187px;
	height:21px;
	background:url(../images/inputBox.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	padding-left:40px;
}

.venue{
	width:187px;
	height:21px;
	background:url(../images/inputBox.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	padding-left:130px;
}

.categ{
	width:187px;
	height:21px;
	background:url(../images/inputBox.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	padding-left:90px;
}

textarea.styled {
	width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	margin-left:35px;
}

.edit{
	padding-left:520px;
	color:#ec9b0c;
}
	
.ajaxful-rating,
.ajaxful-rating a:hover,
.ajaxful-rating a:active,
.ajaxful-rating a:focus,
.ajaxful-rating .show-value{
    background: url(/images/ajaxful_rating/star.png) left -1000px repeat-x;
}
.ajaxful-rating{
    position: relative;
    /*width: 125px; this is setted dynamically */
    height: 25px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
}
.ajaxful-rating li{ display: inline; }
.ajaxful-rating a,
.ajaxful-rating span,
.ajaxful-rating .show-value{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 25px;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    border: none;
}
.ajaxful-rating a:hover,
.ajaxful-rating a:active,
.ajaxful-rating a:focus{
    background-position: left bottom;
}