
<h1>Post</h1>
<p>
  <strong>Message:</strong>
  <%=h @post.message %>
</p>

<h3>Rating:</h3>
<p>
  Global Avg: <%#= ratings_for @post, :dimension => :quality %>
</p>
Your rating: <%#= ratings_for @post, :force_static => true, :dimension => :quality, :small => true, :show_user_rating => true %>


<p>
  <%= link_to "Edit", new_post_path(@post) %> |
  <%= link_to "View All", posts_path %>
</p>
