<ul class="main-menu">
<li class="first"><%= link_to "home", :controller => :event_instances, :action => :index %></li>
<%
# Render all the categories as menus
Category.find(:all).each do |c| %>
  <%= content_tag :li,
    link_to(c.name.downcase, :controller => :event_instances, :action => :search, :category_id => c.id),
    :class => (@category_id == c.id) ? "active" : nil %>
<%
end
%>
<li><a href="contact.html">contact us</a></li>
</ul>
