<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>What's on Where</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag :defaults %>
</head>

<body>
<div class="main">
  <div class="header"></div>
  <div class="menu">
    <ul class="main-menu">
      <li class="first"><a href="index.html">home</a></li>
      <li class="active">movies</li>
      <li><a href="plays.html">plays</a></li>
      <li><a href="gigs.html">gigs</a></li>
      <li><a href="contact.html">contact us</a></li>
    </ul>
  </div>
  <div class="leftColumn">
    <div class="loginBox">
      <%= render :partial => "login_box/view" %>
    </div>
    <div id="search_box" class="searchBox">
      <%= render :partial => "search_box/view" %>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div class="clear"></div>
  <p></p>
  <div class="footer">
    <ul class="bottom-menu">
      <li><a href="#"> |  terms & conditions</a></li>
      <li><a href="#"> |  privacy policy</a></li>
      <li><a href="#">security</a></li>
    </ul>
  </div>
</div>
</body>
</html>